= form_for [@user, @pseud] do |f|
  -if @pseud.errors.any?
    #error_explanation
      %h2= "#{pluralize(@pseud.errors.count, "error")} prohibited this pseud from being saved:"
      %ul
        - @pseud.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .actions
    = f.submit 'Save'
