!!!
%html
  %head
    %title Archive
    = stylesheet_link_tag :all
    = csrf_meta_tag
  %body
    %p{:style => "color: green"}= notice
    %p{:style => "color: red"}= alert
    = yield
    - unless controller.controller_name.match(/(sessions|registrations)/)
      = render 'layouts/partials/footer'
