!!!
%html
  %head
    %title Archive
    = stylesheet_link_tag :all
    = csrf_meta_tag
  %body
    = render 'layouts/partials/header'
    = render 'layouts/partials/alerts'
    = yield
    = render 'layouts/partials/footer'
